/* frontend/src/components/AuthForm.css */

.auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000000; /* Set a light background color */
}

.auth-form {
  padding: 2rem;
  background: #ffffff;
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
}

.auth-form.active {
  transform: translateX(0);
}



.auth-form h2 {
  color: #333;
  text-align: center;
  margin-bottom: 1rem;
  font-size: 24px; /* Increase font size for headings */
}

.auth-form input {
  padding: 12px; /* Increase padding for inputs */
  margin-bottom: 1rem;
  border: 2px solid #ccc; /* Add a border to inputs */
  border-radius: 6px; /* Rounded corners for inputs */
  font-size: 16px;
  width: 100%;
}

.auth-form button {
  padding: 12px;
  margin-bottom: 1rem;
  background-color: #007bff;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}

.auth-form button:hover {
  background-color: #0056b3;
}

.auth-form .alt-action {
  color: #007bff;
  cursor: pointer;
  text-align: center;
}

.auth-form .alt-action span:hover {
  text-decoration: underline;
}

.error-message {
  color: #d32f2f;
  margin-bottom: 1rem;
  text-align: center;
}

.success-message {
  animation: fadeIn 2s ease-in-out;
  color: #4caf50;
  text-align: center;
  font-size: 1.2rem;
  margin-top: 1rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}








.auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden; /* Hide any overflow content */
  position: relative; /* Create a stacking context for the animation */
}

/* Create an animated background element */
.animated-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    45deg,
    #ffcc00,
    #ff6600,
    #ff3366,
    #ff0033,
    #cc0099,
    #6600cc,
    #0033cc,
    #0099cc
  ); /* Gradient background */
  background-size: 400% 400%; /* Control the size of the animation */
  animation: gradientAnimation 15s linear infinite; /* Adjust the animation duration */
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}