/* General styles for the body */
body {
  background-color: #1e1e1e;
  color: #ffffff;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

/* Styles for the table container */
.table-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

/* Styling for the table and its box */
.table-box {
  width: 90%;
  margin: 0 auto;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 15px; /* Rounded corners for the table */
  overflow: hidden; /* Ensures the rounded corners are visible */
}

.custom-table th,
.custom-table td {
  border-bottom: 1px solid #444; /* Only bottom border for a cleaner look */
  padding: 20px; /* More padding for a better look */
  text-align: left;
}

.custom-table th {
  border-bottom: 2px solid #626262; /* Slightly thicker bottom border for headers */
  background-color: #333; /* Dark background for header cells */
}

.custom-table tr:last-child td {
  border-bottom: none; /* Remove bottom border for the last row */
}

/* Style for the "+" button at the bottom right corner */
.add-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: white;
  font-size: 24px;
  border-radius: 50%;
  width: 60px; /* Bigger width */
  height: 60px; /* Bigger height */
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s;
}

.add-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}




/* Styling for the pop-up modal */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 30%; /* Slightly smaller width */
  background-color: #333;
  padding: 20px; /* Less padding for a smaller overall pop-up */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

/* Style adjustments for inputs to ensure consistency */
.modal-content input[type='text'],
.modal-content input[type='email'],
.modal-content input[type='password'],
.modal-content select {
  width: calc(100% - 40px); /* Adjust width to account for padding */
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #444;
  background-color: #888888; /* Updated background color to grey */
  color: #ffffff; /* Text color set to white */
  border-radius: 5px;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

/* Modal content header styling */
/* Modal content header styling */
.modal-content h2,
.modal-content label,
.modal-content input,
.modal-content .password-input,
.modal-content button {
  text-align: center; /* Center alignment for better aesthetics */
  width: 100%; /* Full width for alignment */
}

/* Button container for Save and Cancel */
.modal-content .button-container {
  display: flex;
  justify-content: space-around; /* Even space distribution */
  margin-top: 20px;
}

/* Adjusted button styles for Save and Cancel */
.modal-content .save-button,
.modal-content .cancel-button {
  padding: 12px 24px; /* Adjusted padding for similar proportion to the button in the image */
  margin: 10px; /* Space between the buttons */
  border-radius: 5px; /* Rounded corners as per your design */
  border: none;
  background-color: rgb(148, 147, 245); /* Color extracted from the button in the image */
  color: white;
  cursor: pointer;
  font-size: 16px; /* Maintain readability */
}

/* Hover effect for buttons */
.modal-content .save-button:hover {
  background-color: #5cb85c; /* Green color on hover for Save */
}

.modal-content .cancel-button:hover {
  background-color: #d9534f; /* Red color on hover for Cancel */
}


/* Style adjustments for password input field to match other fields */
.password-input {
  position: relative; /* Position relative to allow absolute positioning of children */
  display: block; /* Change display to block for full width */
  width: 100%; /* Full width of the container */
}

.password-input-field,
.password-input-field[type='text'],
.password-input-field[type='password'] {
  width: calc(100% - 40px); /* Platz für das Auge-Symbol lassen */
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #444;
  background-color: #888888; /* Dunkelgrauer Hintergrund für beide Zustände */
  color: #ffffff; /* Weiße Textfarbe für beide Zustände */
  border-radius: 5px;
  box-sizing: border-box; /* Padding und Border im Element's total width und height einschließen */
}
.password-input input[type='password'],
.password-input input[type='text'] {
  background-color: #888888 !important; /* Using !important to override any other styles */
}



.password-input-field {
  width: calc(100% - 40px); /* Adjust width to account for the toggle-password button */
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #444;
  background-color: #888; /* Dark grey background */
  color: #000000; /* White text */
  border-radius: 5px;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.password-input-field:focus {
  color: #000000; /* Stelle sicher, dass der Text auch bei Fokus sichtbar ist */
}




.password-input .toggle-password {
  background: none;
  border: none;
  padding: 7px;
  margin-left: -30px;
  cursor: pointer;
  z-index: 10;
  color: rgb(0, 0, 0);
}

/* Ensure the placeholder color matches with other inputs */
.password-input input::placeholder {
  color: #000000; /* Heller Grauton für den Platzhalter */
}

/* Style for the password strength slider and label */
.password-strength-slider {
  margin-top: 10px; /* Spacing from the password input */
}

.password-strength-label {
  display: block; /* Ensure the label is a block element */
  color: #fff; /* White color for readability */
  text-align: left; /* Align text to the left */
  margin-top: 5px; /* Spacing above the label */
}

/* Styling for the buttons in the table */
.edit-button, .delete-button {
  border: none;
  padding: 8px 10px;
  font-size: 14px;
  border-radius: 5px;
  transition: background-color 0.2s, transform 0.2s;
  cursor: pointer;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-button {
  background-color: #4CAF50; /* Green background for edit button */
}

.edit-button:hover {
  background-color: #367C39; /* Darker green on hover */
  transform: scale(1.05);
}

.delete-button {
  background-color: #F44336; /* Red background for delete button */
}

.delete-button:hover {
  background-color: #D32F2F; /* Darker red on hover */
  transform: scale(1.05);
}

/* Icon style for edit and delete buttons */
.edit-button svg, .delete-button svg {
  margin-right: 5px; /* Space between icon and text */
}

.delete-confirmation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Dark background for the delete confirmation */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100; /* Ensure it is above other elements */
}

.delete-content {
  background-color: #333;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

.edit-button, .delete-button {
  padding: 5px 10px; /* Adjust padding to make buttons smaller */
  font-size: 0.8em; /* Adjust font size */
}
