.modal-content {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  max-width: 400px;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.table-container {
  max-height: calc(100vh - 100px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}



.table-content {
  flex: 1;
  overflow-y: auto;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.custom-table th,
.custom-table td {
  padding: 12px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.custom-table th {
  background-color: #c7c4c4;
  position: sticky;
  top: 0;
  z-index: 2;
}


.custom-table tbody tr:nth-child(even) {
  background-color: #c7c4c4;
}


.table-content::-webkit-scrollbar {
  width: 10px;
}

.table-content::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.table-content::-webkit-scrollbar-thumb {
  background: #888;
}

.table-content::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.add-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: white;
  font-size: 24px;
  border-radius: 50%;
  width: 60px; /* Bigger width */
  height: 60px; /* Bigger height */
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s;
}


.password-cell {
  position: relative;
}
.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}



.password-input input {
  width: calc(100% - 16px);
  height: 12px;
  padding: 6px;
  border-bottom: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
  cursor: pointer;
  background: none;
}

.toggle-password-popup {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: rgb(0, 0, 0);
  cursor: pointer;
}



.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  color: #333;
}

.input-field {
  width: calc(100% - 16px);
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  position: relative;
}

.input-field input {
  width: 100%;
  height: 8px;
  padding: 6px;
  border: none;
  outline: none;
}

h2 {
  margin-top: 0;
}

.label {
  margin-bottom: 5px;
  /* Reduce margin to match spacing */
  font-weight: bold;
  /* Optionally add font-weight */
}

.input-container {
  position: relative;
}

.error-message {
  color: red;
  /* Color for error messages */
}

.password-settings {
  margin-top: 10px;
}

.gen-button,
.save-button,
.cancel-button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  /* Blue button color */
  color: #fff;
  cursor: pointer;
}

.save-button {
  background-color: #28a745;
  /* Save button background color */
}

.cancel-button {
  background-color: #dc3545;
  /* Cancel button background color */
}

.confirm-button {
  padding: 8px 16px;
  margin-right: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.delete-button {
  background-color: #dc3545;
  /* Delete button background color */
}

.password-settings label {
  display: block;
  margin-bottom: 5px;
}
