/* Allgemeine Stile */

body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa; 
  color: #333;
}

.modal-content {
  background-color: #f8f9fa;
  padding: 20px;
  max-width: 400px;
  width: 90%; 
  box-sizing: border-box;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.modal-content h2 {
  margin-top: 0;
  margin-bottom: 20px; 
  color: #333;
}

.modal-content p {
  margin-bottom: 20px;
  color: #555;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.form-group {
  margin-bottom: 20px;
}

.input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  padding-right: 40px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.toggle-password {
  position: absolute;
  right: 10px; 
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #333;
  z-index: 10;
}

.hidden {
  display: none;
}

.password-group .error-message {
  color: red;
  font-size: 12px;
  position: absolute;
  right: 0;
  top: 100%;
}





.button-container {
  display: flex;
  justify-content: space-between;
}

.gen-button,
.save-button,
.cancel-button {
  width: 48%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.save-button {
  background-color: #28a745; 
}

.cancel-button {
  background-color: #dc3545; 
}


.table-container {
  max-height: calc(100vh - 100px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.table-content {
  flex: 1;
  overflow-y: auto;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.custom-table th,
.custom-table td {
  padding: 12px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.custom-table th {
  background-color: #c7c4c4;
  position: sticky;
  top: 0;
  z-index: 2;
}

.custom-table tbody tr:nth-child(even) {
  background-color: #c7c4c4;
}

.table-content::-webkit-scrollbar {
  width: 10px;
}

.table-content::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.table-content::-webkit-scrollbar-thumb {
  background: #888;
}

.table-content::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.password-settings {
  margin-top: 10px;
}

.checkbox-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.checkbox-label {
  margin-bottom: 10px;
  width: calc(50% - 5px);
}

.checkbox-label:nth-child(odd) {
  margin-right: 10px; 
}





.toggle-password-popup {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  display: flex;
  align-items: center;
}

.toggle-password-popup .fa-eye,
.toggle-password-popup .fa-eye-slash {
  margin-right: 5px;
}


.error-message {
  color: red;
  margin-top: 5px;
}


.password-cell {
  position: relative;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}




.delete-button {
  background-color: #dc3545;
}

.add-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: white;
  font-size: 24px;
  border-radius: 50%;
  width: 60px; 
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s;
}





.delete-confirmation {
  background-color: rgba(0, 0, 0, 0.5); 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.delete-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.confirmation-text {
  margin-bottom: 20px;
}

.confirm-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.confirm-button.delete-button {
  background-color: #dc3545;
  color: #fff;
}

.confirm-button.cancel-button {
  background-color: #6c757d;
  color: #fff;
  margin-left: 10px;
}

.confirm-button:hover {
  background-color: #343a40;
}
